/*craftCanvas v1.0 - A Library for Canvas*/
/*Author @ Suresh Kommuri*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gameParent {
  /* background: #000; */
}
.container {
  padding: 0 15px;
  width: 80%;
  margin: 0 auto;
}
.gameBack {
  border-bottom: 1px solid #ccc;
  position: relative;
  height: 250px;
  transition: 0.5s ease all;
  overflow: hidden;
}
.box {
  background: #ccc;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  left: 4%;
  position: absolute;
  bottom: 0;
  top: auto;
  transition: 2s ease all;
}
.crash {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 30px;
  width: 10px;
  background: red;
  transition: 6s linear;
}
